@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="/img/bg/page-title.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-text text-center">
                            <h1>Login</h1>
                            <ul class="breadcrumb-menu">
                                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                                <li><span>Login</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- login Area Strat-->
        <section class="login-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login">
                            <h3 class="text-center mb-60">Login From Here</h3>
                            <form asp-controller="Account" asp-action="Login">
                                <label asp-for="Email" for="name">Email Address <span>**</span></label>
                                <input asp-for="Email" id="name" type="text" placeholder="Enter Email address..." />

                                <label asp-for="Password" for="pass">Password <span>**</span></label>
                                <input asp-for="Password" id="pass" type="password" placeholder="Enter password..." />
                                
                                <a class="or-divide" asp-controller="Account" asp-action="ForgotPassword">Forgot Password?</a>
                                <button class="btn theme-btn-2 w-100" type="submit">Login Now</button>
                                <div class="or-divide"><span>or</span></div>
                                <button class="btn theme-btn w-100" asp-controller="Account" asp-action="Register">Register Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- login Area End-->
