@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

        <!-- breadcrumb-area-start -->
        <section class="breadcrumb-area" data-background="/img/bg/page-title.png">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb-text text-center">
                            <h1>Register</h1>
                            <ul class="breadcrumb-menu">
                                <li><a asp-action="Index" asp-controller="Home">home</a></li>
                                <li><span>Register</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb-area-end -->

        <!-- login Area Strat-->
        <section class="login-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="basic-login">
                            <h3 class="text-center mb-60">Signup From Here</h3>
                            <form asp-controller="Account" asp-action="Register">
                                <label asp-for="FirstName" for="Firstname">Firstname <span>**</span></label>
                                <input asp-for="FirstName" id="Name" type="text" placeholder="Enter Name..." />

                                <label asp-for="LastName" for="LastName">Lastname <span>**</span></label>
                                <input asp-for="LastName" id="LastName" type="text" placeholder="Enter Lastname..." />

                                <label asp-for="Email" for="email-id">Email Address <span>**</span></label>
                                <input asp-for="Email" id="email-id" type="text"
                                    placeholder="Enter Email address..." />

                                <label asp-for="Password" for="pass">Password <span>**</span></label>
                                <input asp-for="Password" id="pass" type="password" placeholder="Enter password..." />
                                
                                <label asp-for="ConfirmPassword" for="pass">Confirm Password <span>**</span></label>
                                <input asp-for="ConfirmPassword" id="confirmpass" type="password" placeholder="Confirm password..." />

                                <div class="login-action mb-20 fix">
                                    <span class="log-rem f-left">
                                        <input asp-for="IsSeller" id="isSeller" type="checkbox" />
                                        <label asp-for="IsSeller" for="IsSeller">I'm a Seller</label>
                                    </span>
                                </div>

                                <div class="mt-10"></div>
                                <button class="btn theme-btn-2 w-100" type="submit">Register Now</button>

                                <div class="or-divide"><span>or</span></div>
                                <button class="btn theme-btn w-100" asp-controller="Account" asp-action="Login">Login
                                    Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- login Area End-->
